# Python
__pycache__/
*.py[cod]
*.so

# Packaging
*.egg-info/
.dist/
build/
dist/

# Virtual envs
.venv/
uv.lock
venv/

# Test/coverage
.pytest_cache/
.coverage*
.ruff_cache/
htmlcov/

# Editors
.vscode/
.idea/
.claude/

# Project
.tmp/
.cache/
.DS_Store
